# Python
.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Env
.env

# Data (không commit SGK vì bản quyền)
data/raw/
data/chunks/

# Docker volumes
docker/volumes/

# OS
.DS_Store
Thumbs.db

# Project
KeHoachTrienKhai_ChatbotGiaoDuc_v2.html
pyrightconfig.json
.vscode